// $mobil:"(max-width:480px)";
$mobil:"(max-width:480px)";
$tablt:"(max-width:768px)";
$smallScreen:"(max-width:1024px)";
$largeScreen:"(max-width:1200px)";
$maincolor: #2a398c;
$hoverColor:#FFC907;
$bg:#F2F4FB;
$pr:#8f98C5;
